<div class="breadcrumb">

<%= form_for [@post, @post.comments.build], :class=>'btn-group' do |f| %>

      <%= f.text_area :text, :rows => '3', :placeholder=>''%>
    <%= f.submit 'add', :class=>'btn'%>
<% end %>

</div>