%div.head-user-menu
  %div.btn-group
    %a{:href => posts_path}
      %span{:class => 'btn'}
        %i{:class => 'icon-home'}
        Главная
    %a{:href => panel_url}
      %span{:class => 'btn'}
        %i{:class => 'icon-home'}
        USER
    %a{:href => admin_root_url}
      %span{:class => 'btn'}
        %i{:class => 'icon-home'}
        ADMIN