%div.head-user-menu
  %div.btn-group
    - if user_signed_in?
      %span{:class => 'btn dropdown-toggle', :data => {:toggle => 'dropdown'}, :href => ''}
        %span.head-user-menu-item
          %i.icon-user
          = current_user.user_name
        %span.head-user-menu-item
          %i.icon-align-justify
          = current_user.posts_count
        %span.head-user-menu-item
          %i.icon-comment
          = current_user.post_comments_count
        %span.caret

      %ul.dropdown-menu
        %li
          %a{:href => new_post_path}
            %i.icon-edit
            Добавить пост
        %li
          %a{ :href => ''}
            %i.icon-trash
            Delete
        %li.divider
        %li
          = link_to destroy_user_session_path, method: :delete, data:{confirm: 'Вы уверены, что хотите выйти из профиля ?'}, :title => 'Выход из профиля' do
            %i.icon-off
            Выйти
    - else
      %span{:class => 'btn dropdown-toggle', :data => {:toggle => 'dropdown'}}
        %i.icon-question-sign
        Войдите или зарегистрируйтесь
      %ul.dropdown-menu
        %li
          %a{:title => 'Если вы уже зарегистрированны !', :href => new_user_session_path }
            %i.icon-user
            Войти
        %li
          %a{:title => 'Вы еще не зарегистрированны ?', :href => new_user_registration_path }
            %i.icon-play
            Регистрация