.menu-button#menu-base-button
  %i.fa.fa-bars
%span
  Blog
.menu-wrapper
  %ul
    %li
      %a{href: '#'}
        %i.fa.fa-home
        Home
    %li
      %a{href: '#'}
        %i.fa.fa-book
        Posts
    %li
      %a{href: '#'}
        %i.fa.fa-comments
        %span Comments