-# Template for show Post on the index.html
-# "index.html.haml" -> [=render 'index_post_show', :post => post]
-unless @posts.nil?
  -@posts.each do |post|
    %div.post
      %div.post-title
        %h3=post.title
      %div.post-header
        %span.post-h-item=(t :blog_post_author)+':'
        %span.post-h-text=post.user.user_name
        %span.post-h-item=(t :blog_post_created)+':'
        %span.post-h-text=post.created_at
        -if user_signed_in?
          -if post.user_id == current_user.id
            -@post = post
            %span.post-menu=render :partial => 'posts/post_user_menu'
      %div.post-content
        =truncate(post.body, :length => 1000)
      %div.post-footer
        %span.post-h-item=(t :blog_post_comments_count)+':'
        %span.post-h-text
          %i.icon-comment
          =post.bcomments_count
        %span.post-h-item=(t :blog_post_tags)+':'
        %span.post-h-text
          %i.icon-tags
          -unless post.tags.nil?
            -post.tags.each do |tag|
              =link_to tag.cont, tag
        %span.post-menu
          =link_to post, {:title => (t :blog_read_post)+' - "'+post.title+'"'} do
            %span.btn
              %i.icon-file
              =(t :blog_read_post)+'...'
