<div id="main">
  <div id="site_content">
    <div id="sidebar_container">

      <div class="sidebar">

        <%= render :partial => "/base/user" %>

      </div>

    </div>

    <div class="content">

      <h1>New post</h1>

      <%= render 'form' %>

      <img class="rubyImg" src="/ruby.png" alt="ruby">

      <%= link_to 'Back', posts_path %>

    </div>

  </div>

  <footer>

  </footer>
</div>
