%div.sidebar_container
  %div.sidebar= render :partial => '/base/user_posts'
%div.content
  %div.post
    %div.post-title
      %h3
        %i.icon-edit
        Создание нового поста:
    %div.post-content-form
      = render 'form'
      %img{:src =>'/ruby.png'}
      = link_to 'Back', posts_path
    %div.post-footer