/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

article, aside, figure, footer, header, hgroup, nav, section {
    display:block;
}

body.blog {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #444;
    background-image: url("/assets/blogBody.png");

}

header{

    margin: 0 20px 20px 20px;
    border-radius: 0 0 30px 30px;
    /*opacity: 0.6; */
    background-image: url("/assets/blogHeader.png");
    background-color: #3C3B33;
    height: 100px;

}

div.blogContent{
    display: block;
    margin: 0 20px 70px 20px;
    padding: 0;
}

div.sidebar_container {
    float: right;
    width: 234px;
}

div.sidebar {
    width: 200px;
    margin: 0;
    background: #ddd; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#fff, #E6E4D4);
    background: -o-linear-gradient(#fff, #E6E4D4);
    background: -webkit-linear-gradient(#fff, #E6E4D4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    border: 1px solid #eee;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border: 7px 7px 7px 7px;
    padding: 0 15px 5px 13px;
}

.content {
    margin: 0 240px 0 0;
    padding: 0;
}

.post
{
    text-align: center;
    background: #ddd; /* Show a solid color for older browsers */
    border: 2px solid #000;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border: 20px 20px 20px 20px;
    background-image: url("/assets/blogContent1.png");
    margin-bottom: 20px;
}

.post-header{
    display: block;
    position: relative;
    right: 0px;
    top: 0px;
    border-bottom: 2px solid #000;
    background-color: #3C3B33;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border: 20px 20px 0px 0px;
    background-image: url("/assets/blogHeader.png");
    padding: 10px 0;
}

table.post-title{
    margin: 0px 20px 0px 20px;
    color: #ffffff;
    /*width: 50px;*/
    width: 80%;
}

.post-content{
    margin: 10px 20px 10px 20px;
}

.post-menu{
    text-align: left;
    float: right;
    margin-right: 20px;
}

post-paginate{
    margin:0 auto;
}

footer {
    height: 50px;
    width: 100%;
    text-align: center;
    color: #3C3B33;
    border-top: 6px solid #b4b4b4;
    background-color: #3C3B33;
    background-image: url("/assets/blogHeader.png");
    margin: 0;
    position: fixed;
    bottom: 0px;
    right: 0px;
}


