@media screen and (max-width: 650px) {
  .wrapper-base {
    width: 90%;
    background-color: #bdc1c1;
  }

  .menu-wrapper {
    display: none;
    visibility: visible;
    padding: 10px 20px 10px 20px;
    position: absolute;
    top: 50px;
    left: 0;
    background: linear-gradient(to top, #424242 0%, #000000 36%, #424242 100%);
    border-top: 1px solid #d7d7d7;
  }

  .menu-wrapper ul li {
    display: block;
    margin: 0;
    padding: 0;
  }

  .menu-wrapper ul li a {
    color: #ffffff;
  }

  .menu-button {
    display: inline-block;
    visibility: visible;
  }

}