/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

article, aside, figure, footer, header, hgroup, nav, section {
  display:block;
}

body.blog {
  margin: 0;
  padding: 0;
  /*background: #CDCDCD;
  background-image: url("/assets/blogBody.png");*/

}

header{
  margin: 0 0 20 0px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  color: #fff;
  height: 125px;
}

.head-user-menu{
  display: inline-block;
  margin: 0 10px 0 10px;
  text-align: left;
}

.head-user-menu-item{
  border-right: 1px dotted #fff;   margin: 0 5px 0 0;
  padding: 0 5px;
}

div.blogContent{
  display: block;
  /*margin: 0 200px 70px 200px;*/
  padding: 0;

  min-width: 1000px;
  max-width: 1300px;
  margin: 0 auto;
}

.sidebar_container {
    float: right;
    width: 230px;
}

.sidebar {
  margin: 0 0 25px 0;
  background: #fff;
  border: 1px solid #e0e0e0;
}

.sidebar-header{
  text-align: center;
  margin: 0;
  padding: 5px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
}

.sidebar-content{
  margin: 0;
  padding: 5px;
}


.content-header{
    text-align: center;
    color: #228B22;
}

.content {
    margin: 0 260px 0 0;
    padding: 0;
}




footer {
  height: 50px;
  text-align: center;

  margin: 0 0 20 0px;
  background-color: #f0f0f0;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  color: #000000;
}

#tagcloud a {
    color:#dedede;
    font-size: 12px;
}

.blog-massage-panel{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.30);

  position: fixed;
  left: 0;
  top: 0;

  z-index: 5;

}

.blog-massage{
  /*margin: 0 auto;*/
  height: 400px;
  width: 600px;
  background-color: #eeeeee;

  margin:-200px 0 0 -300px;
  top:50%;
  left:50%;
  position:absolute;

}

