.gradient-dark {
  background: linear-gradient(to top, #424242 0%, #000000 36%, #424242 100%);
  color: #ffffff;
}

.gradient-grey {
  background: linear-gradient(to bottom, #b3b3b3 0%, #272727 100%);
  color: #000000;
}