// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.headLists{
  color:#228B22;
}

.rubyImg{

  float:left;
  margin:0 40px;
}

.post
{
  background: #fff;
  margin: 10px 0 30px 0;
}

.post-title{
  margin: 0;
  text-align: center;
  /*text-transform: uppercase;*/


}

.post-header{
  display: block;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  padding: 5px;
  text-align: left;
}

.post-h-item{
  display: inline-block;
  margin: 5px 5px 5px 25px;
}

.post-h-text{
  display: inline-block;
  margin: 0;
}

.post-content{
  margin: 0;
  padding: 20px;
  min-height: 100px;
}

.post-content-form{
  margin: 0;
  padding: 20px;
  min-height: 100px;
  text-align: center;
}

.post-footer{
  display: block;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #f2f2f2;
  padding: 5px;
  text-align: left;
}

.post-menu{
  text-align: left;
  float: right;
  margin-right:20px;
}

.post-paginate{
  display: block;
  text-align: center;
  margin: 10px 0;
}

.post-hide{
     display: none;
}

.post-adm-comment{
  display: none;
  width: 300px;
  position: relative;
  float: right;
  top: 0;
  right: 0;
  margin: 0 0 0 10px;
}